@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: start;
    width: 100%;
    margin-bottom: 8px;
    font-weight: 500;
}